= image_tag 'qt_logo_600.png', :width => "300"
%p Hi #{@order.sender_name.split.first},
%p Thanks for ordering a cute postcard from qt2me!
= image_tag 'qt_1.jpg', :id => "postcard-image", :class => "postcard", :width => "300"
%p Your oder will be shipped in 7 - 10 business days to
%p(style="margin-left:24px")
  = @order.recipient_name
  %br #{@order.recipient_address}
  %br #{@order.recipient_city}, #{@order.recipient_state} #{@order.recipient_postal}
%p
  Thanks,
  %br Tom
  %br VP of Cuteness
  %br http://qt2.me