!!! 5
%html
  %head
    %title
      QT2.me : Make someone's day! Send them a postcard of the cutest stuff on earth.
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "https://fonts.googleapis.com/css?family=Port+Lligat+Sans"

    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield :head

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-32475182-1']);
      _gaq.push(['_setDomainName', 'qt2.me']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    .container
      %a(href="#{root_path}")
        #logo
      - unless flash[:notice].blank?
        #flash_message.notice #{flash[:notice]}
      = yield
      .clear
    .footer
      :erb
        <iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fqt2me&amp;width=300&amp;height=258&amp;colorscheme=light&amp;show_faces=true&amp;border_color=%23fff&amp;stream=false&amp;header=false&amp;appId=379298132126259" scrolling="no" frameborder="0" style="background:white; border:none; overflow:hidden; width:300px; height:258px;" allowTransparency="true"></iframe>